.git
.github

node_modules
**/node_modules
.pnpm-store

dist
build
coverage
**/dist
**/coverage

.env
.env.*
**/.env
**/.env.*
!.env.deploy.example
!.env.example
!**/.env.example
!**/.env.deploy.example

storage
uploads
logs
*.log

.DS_Store
.idea
.vscode
